@import "tailwindcss";

@theme {
  --color-amber-50: #fff7ed;
  --color-amber-100: #ffedd5;
  --color-amber-200: #fed7aa;
  --color-amber-300: #fdba74;
  --color-amber-400: #fb923c;
  --color-amber-500: #f97316;
  --color-amber-600: #ea580c;
  --color-amber-700: #c2410c;
  --color-amber-800: #9a3412;
  --color-amber-900: #7c2d12;
  --color-amber-950: #431407;
}

body {
  margin: 0;
  background: #000000;
  color: #fafafa;
}
